
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gagal</title>
</head>
<body>
    <div> 
        <h2>Nama \t: @Session["rozi"]</h2>
        <h2>Tanggal \t: @Session["roziDate"]</h2>
        <h2>Percobaan Gagal : @Session["roziGagal"]</h2>
    </div>
</body>
</html>
