body {
}

.btn-pp:hover,
.btn-pp:focus,
.btn-pp:active,
.btn-pp.active,
.btn-pp {
  color: #ffffff;
  background-color: #000080;
  border-color: #000063;
}

.btn-pp:hover,
.btn-pp:focus,
.btn-pp:active,
.btn-pp.active,
.open .dropdown-toggle.btn-pp {
  color: #ffffff;
  background-color: #000080;
  border-color: #000080;
}
.btn-pp .caret {
    color: #ffffff;
}