body {

}

.modal-delete .modal-content 
{
    width : 500px;
    border-color :#9c1010;
    border-width: 3px;
    border-style: solid;    
}

.modal-delete .modal-header
{
color:#FFFFFF;
background-color : #9c1010;   
}

.modal-delete .modal-dialog {
    right: auto;
    left: 10%;
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.table-striped thead > tr > th,
.table-striped tbody > tr > th,
.table-striped tfoot > tr > th,
.table-striped thead > tr > td,
.table-striped tbody > tr > td,
.table-striped tfoot > tr > td {

  border-bottom: 2px solid #000080;
  color: #000080;
}

.table-striped thead {
  border-bottom: 5px solid #000080;
  border-top :5px solid #000080;
}

.btn-more:hover,
.btn-more:active,
.btn-more::after,
.btn-more.active,
.btn-more:focus,
.open .dropdown-toggle .btn-more,
.btn-more{
    color: #FFFFFF;
    background-color: #000080;
    font-weight: bold;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #ffffff;
  border-right: 4px solid transparent;
  border-bottom: 0 dotted;
  border-left: 4px solid transparent;
  content: "";
}

.form-control:focus, 
.form-control:hover,
.form-control:active,
.form-control{
    border-color:#000080;
    color: #000080;
    font-size: medium;
    height: 48px;
    border: 2px solid #000080;
}

.btn-create:hover,
.btn-create:active,
.btn-create:after,
.btn-create:active,
.btn-create:focus,
.open .dropdown-toggle .btn-create,
.btn-create{
    color:#FFFFFF;
    background-color:#000080;

}

.btn-batal:hover,
.btn-batal:active,
.btn-batal:after,
.btn-batal:active,
.btn-batal:focus,
.open .dropdown-toggle .btn-batal,
.btn-batal{
    color:#FFFFFF;
    background-color:#ff6a00;

}

.btn-simpan:hover,
.btn-simpan:active,
.btn-simpan:after,
.btn-simpan:active,
.btn-simpan:focus,
.open .dropdown-toggle .btn-simpan,
.btn-simpan{
    color:#FFFFFF;
    background-color:#000080;
}

.form-notes:focus, 
.form-notes:hover,
.form-notes:active,
.form-notes{
    height : 68px;
}

.modal-create .modal-content 
{
    width : 800px;
    border-color: #000080;
    border-width: 3px;
    border-style: solid;
}

.modal-create .modal-dialog {
    right: auto;
    left: auto;
    width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #000080;
}

.btn-ya:hover,
.btn-ya:active,
.btn-ya:after,
.btn-ya.active,
.btn-ya:focus,
.open .dropdown-toggle .btn-ya,
.btn-ya {
    color: #FFFFFF;
    background-color: #9c1010;
}

.control-label {
    color: #000080;
}