body {
  font-family: Arial;
  margin-left : 10px;
}

input,
select,
textarea {
    max-width: 100%;
}

.modal-content {
    width: 1000px;
}

.modal {
    overflow-x: hidden;
    text-align: left;
    overflow-y: auto;
}


.close,
.close:hover {
    float: right;
    font-size: 50px;
    font-weight: 100;
    color: #ffffff;
    opacity: 1;
}

.modal .modal-header {
    background-color: #000080;
    color: #ffffff;
}

.modal-dialog {
    right: auto;
    left: 10%;
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 30px;
}


details,menu,section {
display:block;
}

.clear {clear: both;}

#data {
	width: 100%;
	color :#000080;
}

h4 {
    font-weight : bold;
    margin-top: 0px;
    margin-bottom: 10px;
}

.head {
	
	background: #fff;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50%;
}

#name {
	font-size: 12px;
	font-weight: 700;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	margin-bottom: -6px;
    float: left;
    color : #000080;
}

#download {
	float: right;
}

section:nth-child(odd) {
	border-top: 1px solid #dedede;
	padding: 12px 0 0;
    background-color: rgba(0, 0 ,128, 0.1);
    padding-left: 10px;
}

section:nth-child(even) {
	border-top: 1px solid #dedede;
	padding: 12px 0 0;
    background-color: rgba(0, 0 ,0, 0);
    padding-left: 10px;
}


.sectionTitle {
	float: left;
	width: 20%;
    font-size : 14px;
}

.sectionContent {
	float: right;
	width: 80%;
    font-weight: bold;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 10px;
}

.btn-pp {
    color: #ffffff;
    background-color: #000080;
    border-color: #000063;
}

.col-md-3 {
    float:left;
}

/*@media print
{    
    .download
    {
         display: none !important;
    }
}*/