.modal-dialog {
    width: 1080px;
    margin: 50px auto;
}
.modal-header {
    background-color :#000080;
    font-size : 10px;
    color: white;
}


details,menu,section {
display:block;
}


.clear {clear: both;}


#data {
	width: 100%;
	max-width: 720px;
	color :#000080;
	margin: 30px auto;
}

h4 {
    font-weight : bold;
    margin-top: 5px;
    margin-bottom: 10px;
}

.head {
	padding: 25px 35px;
	background: #fff;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#headshot img {
	width: 100%;
	height: auto;
	-webkit-border-radius: 50px;
	border-radius: 50%;
}

#name {
	font-size: 12px;
	font-weight: 700;
	font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
	margin-bottom: -6px;
    float: left;
    color : #000080;
}

#download {
	float: right;
}

section:nth-child(odd) {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
    background-color: rgba(0, 0 ,128, 0.1);
    padding-left: 10px;
}

section:nth-child(even) {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
    background-color: rgba(0, 0 ,0, 0);
    padding-left: 10px;
}


.sectionTitle {
	float: left;
	width: 20%;
    font-size : 14px;
}

.sectionContent {
	float: right;
	width: 80%;
    font-weight: bold;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 10px;
}

.close {
	position: relative;
	width: 23px;
	height: 23px;
	border: 2px solid #eef5df;
    color: white;
	border-radius: 50%;
    opacity : 1;
}

.btn-pp {
    color: #ffffff;
    background-color: #000080;
    border-color: #000063;
}