body {

}

/*input,
select,
textarea {
    max-width: 100%;
}


.modal-content 
{
    width : 800px;
     border-color :#000080;
    border-width: 3px;
    border-style: solid;
}*/

/*untuk modal keseluruhan*/
/*.modal-dialog {
    right: auto;
    left: 10%;
    width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
    color : #000080;

}*/

/*cara buat modal class delete*/
/*style modal delete*/
.modal-delete .modal-content 
{
    width : 500px;  /*lebar*/
    border-color :#9c1010; 
    border-width: 3px; /*tebal pinggiran modal*/
    border-style: solid;
    
}

.modal-delete .modal-header
{
color:#FFFFFF;   /*text tulisan*/
background-color : #9c1010;

    
}

.modal-delete .modal-dialog {
    right: auto;
    left: 10%;
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}


/*.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {

  border-bottom: 2px solid #000080;
  color: #000080;

}

.table thead {
  border-bottom: 5px solid #000080;
  border-top :5px solid #000080;
}*/


/*tombol more segitiga*/
.btn-blue:hover,
.btn-blue:active,
.btn-blue::after,
.btn-blue.active,
.btn-blue:focus,
.open .dropdown-toggle .btn-blue,
.btn-blue{
    color:#FFFFFF;
    background-color:#000080;

}



/*tombol more*/
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #ffffff;
  border-right: 4px solid transparent;
  border-bottom: 0 dotted;
  border-left: 4px solid transparent;
  content: "";
}

.form-control:focus, 
.form-control:hover, /*buat pointer*/
.form-control:active,
.form-control{
    border-color:#000080;
        color: #000080;

}


.btn-create-a:hover,
.btn-create-a:active,
.btn-create-a:after,
.btn-create-a:active,
.btn-create-a:focus,
.open .dropdown-toggle .btn-create-a,
.btn-create-a{
    color:#FFFFFF;
    background-color:#000080;

}


.btn-batal:hover,
.btn-batal:active,
.btn-batal:after,
.btn-batal:active,
.btn-batal:focus,
.open .dropdown-toggle .btn-batal,
.btn-batal{
    color:#FFFFFF;
    background-color:#ff6a00;

}




.btn-simpan:hover,
.btn-simpan:active,
.btn-simpan:after,
.btn-simpan:active,
.btn-simpan:focus,
.open .dropdown-toggle .btn-simpan,
.btn-simpan{
    color:#FFFFFF;
    background-color:#000080;

}



.form-notes{
    height : 68px;
}

/*.jenhubkel{
    pointer-events: none;
    cursor: default;
}*/
/*form-control,
.form-control:focus {
    height: 15px;
    color: #000080;
    border: 2px solid #000080;
    font-size: medium;
}*/

.modal-create .modal-content 
{
    width : 800px;
    border-color :#000080;
    border-width: 3px;
    border-style: solid;
}

.modal-create .modal-dialog {

    right: auto;
    left: auto;
    width: 800px;
    padding-top: 30px;
    padding-bottom: 30px;
    color : #000080;
}