* {
    margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: #000080;
}

#email, #abpwd {
    border-color: #000080;
    border-width: 2px;
    color: #000080;
}

#btn-login {
    background-color: #000080;
    color: white;
    width: 100%;
     border-width: 2px;
}

#btn-login:hover {
    background-color: #0303a0;
    color: white;
}

.title-login {
    font-size:45px;
    font-weight: bold;
}

.field-validation-error {
    color: Red;
}

.margin-login {
    margin-top:5px;
}

p, a {
    color: #000080;
    text-decoration: none;
}

.tengah {
    text-align:center;
}

.panel-xsis {
  border-color: #000080;
}

.panel-xsis > .panel-heading {
  color: #ffffff;
  background-color: #000080;
  border-color: #000080;
}

.container-menu-role {
    margin-top:0;
    padding-top:0;
    width: 90%;
	margin-left: 5%;
	display: inline-block;
	line-height: 20px;
}

.container-menu-role .menu-role {
    color: blue;
    font-size: 9pt;
}

.ikon.pinggir-kanan {
	float: right;
	margin-left: 10px;
    color: #1e1e1f;
}

.container-menu-role .isi-role{
    color: #000080;
    border-top: 0 none;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group > .list-group-item {
    padding-left: 25px;
}

