body {
    background-color: #f4f4f4;
    color: #000080;
}

#email, #abpwd {
    border-color: #000080;
    border-width: 2px;
    color: #000080;
}

#btn-login {
    background-color: #000080;
    color: white;
    width: 100%;
     border-width: 2px;
}

.title-login {
    font-size:45px;
    font-weight: bold;
}

.field-validation-error {
    color: Red;
}

.margin-login {
    margin-top:5px;
}

p, a {
    color: #000080;
}

.tengah {
    text-align:center;
}

.panel-xsis {
  border-color: #000080;
}

.panel-xsis > .panel-heading {
  color: #ffffff;
  background-color: #000080;
  border-color: #000080;
}