@model ngxsis.ViewModel.AktivasiAkunViewModel

<div>
    <dl class="dl-horizontal">
        <dt>
            <span class="glyphicon glyphicon-trash" aria-hidden="true" style="font-size:100px; color:Black; text-align:center"></span>
        </dt>
        <dd>

            <font color="red"> <font size="4"> Anda yakin ingin menghapus Referensi <br /><b>@Html.DisplayFor(model => model.name_type)</b></font></font>
        </dd>
    </dl>

    @using (Html.BeginForm("DeleteTesDetail", "AktivasiAkun", FormMethod.Post, new { id = "form-delete", name = "form-delete" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.online_test_detail_id)

        <div class="row">
            <div class="form-actions no-color">
                <div class="col-md-offset-9">
                    <div class="btn-group" role="group" aria-label="...">
                        <input type="button" value="Tidak" data-dismiss="modal" class="btn btn-warning" />
                        <input type="submit" value="Ya" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $("#form-delete").submit(function () {
        $.ajax(
            {
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        alert("Data Berhasil di hapus");
                        $(".modal-delete").modal("hide");
                        GetTabelListTesDetail();
                    } else {
                        alert("error" + result.message);
                    }
                }
            });
        return false;
    });
</script>