@model IEnumerable<ngxsis.ViewModel.UserViewModel>

@foreach (var item in Model)
{
    <li><a href="javascript:void(0)" style="width:100%" class="btn-link btn-list" data-html="@item.Id" data-container="@item.BiodataId">@item.FullName</a></li>
}

<script type="text/javascript">
    $(".btn-list").click(function () {
        bioId = $(this).attr("data-container");
        addrbookId = $(this).attr("data-html");
        search = $("#txt-search").val();
        GetForm();
    });
</script>