@model IEnumerable<ngxsis.ViewModel.UserRoleViewModel>

<div class="roleList" style="width:100%;">
@foreach (var item in Model)
{
    <div class="row" style="padding-bottom:0px;padding-top:0px;margin-bottom:0px;">
        <div class="checkbox" style="vertical-align:middle;">
            <label>
                <input type="checkbox" value="@item.RoleId">
                <span class="cr"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
                @item.RoleName
            </label>
        </div>
    </div>
}
    </div>

<script type="text/javascript">
    var val;
    $(document).ready(function ()
    {
        var array = @Html.Raw(Json.Encode(ViewBag.RoleList));
        for(var i = 0; i < array.length; i++) {
            $(".roleList").find(".row").each(function (item)
            {
                val = $(this).find(".checkbox").find("input[type=checkbox]").val();
                if(val==array[i].RoleId)
                {
                    $(this).find("input[type=checkbox]").attr("checked","checked");
                }
            });
            
        }
    });
</script>