@{
    ViewBag.Title="User";
}


@{
    ViewBag.Title="User";
}

@{
    if(Session["userID"]==null)
    {
        //Response.Redirect("/"); // <-- Sesuaikan acceess bila sudah login
        Session["userID"]=1;
    }
}

<link rel="stylesheet" href="~/Content/role.css" />
<div class="panel panel-default panel-role">
    <div class="panel-body">
    </div>
    <div id="data">
        Loading...
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">

        var search;
        var bioId;
        var addrbookId;
        $(document).ready(function () {
            bioId = 0;
            addrbookId = 0;
            GetForm();
        });
////
        function GetForm()
        {
            $.ajax(
                {
                    url: '@Url.Action("Form","UserRole")',
                    type: 'get',
                    data: { bioId: bioId },
                    success: function (result)
                    {
                        $("#data").html(result);
                    }
                });
        }
////
    </script>
}
