@{
    ViewBag.Title = "Index";
}
<div class="container">

    <div class="panel panel-default">
        <!----default panel content-->
        <div class="panel-heading">
            <h3>
                <font color="#000080">
                    <b>Dokumen</b>
                    <button type="button" class="btn btn-primary btn-create-new" title="Create New" id="btn-create-new">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>

                    </button>
                </font>
            </h3>
            <!--<input id="btn-create-new" type="button" class="btn btn-default" btn-lg" value="klik" />-->
        </div>
        <div class="panel-body">

        </div>
        <!--table--->
        <div id="data-list">
            <!--data-list  harus sama dg yg di javascript jquery--->
            Loading . . .
        </div>
    </div>
</div>

<link href="~/Content/Dokumen.css" rel="stylesheet" />

@section Scripts{

<script type="text/javascript">
    $(document).ready(function () {
        GetList();
    });

    function GetList() {
        $.ajax({
            url: '@Url.Action("DokumenList", "Dokumen")',
            type: 'get',
            success: function (result) {
                $("#data-list").html(result);
            }
        });
    }

    $("#btn-create-new").click(function () {
        $.ajax({
            url: '@Url.Action("Create", "Dokumen")',
            type: 'get',
            success: function (result) {
                $(".modal-utama .modal-title").html("Tambah Dokumen (Max : 500KB)");
                $(".modal-utama .modal-body").html(result);
                $(".modal-utama").modal("show");
            }
        });

    });

</script>
} 