@*@{
        ViewBag.Title = "Organisasi";
    }

    <h2>@ViewBag.Title</h2>

    <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-primary btn-create-new" id="btn-create-new" title="Create New">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>*@

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
        @*<input id="btn-create-new" type="button" class="btn btn-default btn-lg" value="Create new" />*@
        <!--<input id="btn-create-new" type="button" class="btn btn-default btn-lg" value="Bikin baru" />-->
        <h2>
            Organisasi
            <button type="button" class="btn btn-primary btn-create-new" id="btn-create-new" title="Tambah Organisasi">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </h2>
        @*</div>
            <div class="panel-body">*@
    </div>

    <!-- Table -->
    <div id="data-list">
        @*Loading...*@
    </div>
</div>

@*<div class="panel panel-primary">*@
@*<!-- Default panel contents -->
    <div class="panel-heading">
        <input id="btn-create-new" type="button" class="btn btn-default btn-lg" value="Create new" />
        <!--<input id="btn-create-new" type="button" class="btn btn-default btn-lg" value="Bikin baru" />-->
    </div>
    <div class="panel-body">
    </div>

    <!-- Table -->*@
@*<div id="data-list">*@
@*Loading...*@
@*</div>*@
@*</div>*@



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "Organisasi")',
                type: 'get',
                success: function (result) {
                    $("#data-list").html(result);
                }
            });
        }

        $("#btn-create-new").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "Organisasi")',
                type: 'get',
                success: function (result) {
                    $(".modal-title").html("Tambah Organisasi");
                    $(".modal-body").html(result);
                    $(".modal").modal("show");
                }
            });
        });
    </script>
}

<div class="modal fade" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: darkblue">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="background: darkblue; color: white">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->