
@*<link rel="stylesheet" href="~/Content/sertifikasi.css" />
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            <font style="color: #000080"><b>Keluarga</b></font>
            <button type="button" class="btn btn-primary btn-create-new" id="btn-create-new" title="Tambah Keluarga">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </h2>
    </div>
    <div id="data-list">
    </div>
</div>*@
<div id="data-list">
    <!--data-list  harus sama dg yg di javascript jquery--->

</div>

<!--j query untuk nampilkan listnya-->


@section Scripts{

    <script type="text/javascript">
        $('.keluarga').ready(function () {
            GetList(); // INI adalah pemicu js yg ada di index.html
        });

        function GetListKel() {
            $.ajax({ // ajax sbg duta dr backend ke frontend
                url:'@Url.Action("List", "Keluarga")',
                type: 'get',
                success : function (result) {
                    $("#data-list").html(result);
                }
            });
        }


        @*$("#btn-create-new").click(function (){
            $.ajax({
                url:'@Url.Action("Create", "Keluarga")',
                type:'get',
                success : function (result) {
                    $(".modal-utama .modal-title").html("Tambah Keluarga");
                    $(".modal-utama .modal-body").html(result);
                    $(".modal-utama").modal("show");
                    $("#datepicker").datepicker({
                        dateFormat: "yy-mm-dd"
 });
                }
            });
        });*@
</script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>


}


<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />


<!-- /.modal-content create dan edit -->

<!-- /.modal-content DELETE -->
<div class="modal fade modal-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--edit-->

<div class="modal fade modal-create" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: darkblue">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="background: darkblue; color: white">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



