<link rel="stylesheet" href="~/Content/Organisasi.css" />
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            <font style="color: #000080"><b>Pelatihan</b></font>
            <button type="button" class="btn btn-primary btn-create-new" id="btn-create-new" title="Tambah Pelatihan">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </h2>
    </div>
    <div id="data-list">
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "Pelatihan")',
                type: 'get',
                success: function (result) {
                    $("#data-list").html(result);
                }
            });
        }

        $("#btn-create-new").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "Pelatihan")',
                type: 'get',
                success: function (result) {
                    $(".modal-utama .modal-title").html("Tambah Pelatihan");
                    $(".modal-utama .modal-body").html(result);
                    $(".modal-utama").modal("show");
                }
            });
        });
    </script>
}

<div class="modal fade modal-utama" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: darkblue">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="background: darkblue; color: white">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-delete" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>
