<div id="datadata">
</div>

@*@section Scripts{
    <script type="text/javascript">
        $('.pelatihan').ready(function () {
            GetList();
        });

        function GetList() {
            biodata_id = $(this).data("id");
            $.ajax({
                url: '@Url.Action("List", "Pelatihan")',
                type: 'get',
                data: { biodata_id: $(this).attr("data-id") },
                success: function (result) {
                    $("#datadata").html(result);
                }
            });
        }
    </script>
}*@

<div class="modal fade modal-create" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: darkblue">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="background: darkblue; color: white">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-delete" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>


