@{
    ViewBag.Title = "Pelamar";
    if (Session["userID"] != null && Session["roleID"] == null)
    {
        Response.Redirect("~/Account/SelectAccess"); // <-- Sesuaikan acceess bila sudah login
    }

    if (Session["userID"] == null && Session["roleID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<div class="panel panel-default" style="min-height:350px;">
    <div class="row" style="margin-bottom:5px;">
        <div class="col-lg-6">
            <div class="input-group" style="width:100%;">
                <input type="text" id="txt-search" class="form-control" style="" placeholder="Nama Pelamar">
                <span class="input-group-btn">
                    <button class="btn btn-pp btn-search" style="height:25px;border-radius:0px;font-size:x-small;font-weight:bold;padding:0px;" type="button"><h4><b>Cari</b></h4></button>
                </span>
            </div>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-clear" style="height:25px;border-radius:0px; color:white;background-color:#000080;"
                    type="button">
                <h4 style="bottom:10px;"><b>Reset</b></h4>
            </button>
        </div>
    </div>
    <div class="panel-body">
    </div>
    <div id="data">
        ...
    </div>
</div>

@*<div class="modal fade modal-main" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->*@

<div class="modal fade modal-create" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog" role="document" style="width: 800px">
        <div class="modal-content" style="width: 800px; color: #000080">
            <div class="modal-header" style="background: darkblue">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="background: darkblue; color: white">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade modal-delete" tabindex="-1" role="dialog" style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>*@

<div class="modal fade modal-pelamar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">modal title</h3>
            </div>
            <div class="modal-body">
                <p>one fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade modal-utama-sumberloker" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add New Data</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-object" tabindex="-1" role="dialog" style="overflow-x: hidden;
    text-align: left;
    overflow-y: auto;">
    <div class="modal-dialog" role="document" style="right: auto;
    left: 10%;
    width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;">
        <div class="modal-content" style="width:1000px;">
            <div class="modal-header" style="background-color: #000080;
    color: #ffffff;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Modal title</h3>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade modal-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>*@
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade modal-pelamar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title">Modal title</h3>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->*@

@*<div class="modal fade modal-create-sertifikasi" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: darkblue">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" style="background: darkblue; color: white">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--edit-->*@

@section scripts
{
        <script type="text/javascript">
        var page;
        var search;
        var desc;
        var maxPage;
        var dataPerPage;
        $(document).ready(function () {
            page = 0;
            search = "";
            desc = 0;
            dataPerPage = 5;
            //GetList();
        });
        $(".btn-search").click(function () {
            console.log($("#txt-search").val());
            $.ajax(
                 {
                     url: '@Url.Action("PelamarList", "Pelamar")',
                     type: 'get',
                     data: { search: $("#txt-search").val() },
                     success: function (result) {
                         $("#data").html(result);
                     }
                 });
        });
        function GetList() {
            var itemCount = 0;
            $.ajax(
            {
                url: '@Url.Action("PelamarList", "Pelamar")',
                type: 'get',
                data: { search: search, desc: desc , page: page, dataPerPage: dataPerPage },
                success: function (result) {
                    $("#data").html(result);
                    $("#txt-search").val(search);

                    $("#data").find("tbody").find("tr").each(function (item) {
                        itemCount = itemCount + 1;
                    });
                    if (itemCount < dataPerPage) {
                        maxPage = page;
                    } else {
                        maxPage = page + 1;
                    }
                }
            });
        }
    </script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
}
<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />

