
@{
    ViewBag.Title="Peran";
}

@{
    ViewBag.UID=Session["userID"];    
    if (Session["userID"] != null && Session["roleID"] == null)
    {
        Response.Redirect("~/Account/SelectAccess"); // <-- Sesuaikan acceess bila sudah login
    }

    if (Session["userID"] == null && Session["roleID"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<link rel="stylesheet" href="~/Content/role.css"/>
<div class="panel panel-default panel-role" style="width:100%;">
    <div class="panel-body" style="padding:0px 0px;width:100%">
    </div>
    <div id="data">
        Loading...
    </div>
</div>

<div class="modal fade modal-main" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" style="color:#ffffff;font-size:20px;" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade modal-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts
{
    <script type="text/javascript">
        var page;
        var search;
        var desc;
        var maxPage;
        var dataPerPage;
            var itemCount = 0;
        $(document).ready(function () {
            page = 0;
            search = "";
            desc = 0;
            maxPage = 0;
            dataPerPage = 1;
            GetList();
        });

        function GetList() {
            
            $.ajax(
            {
                url: '@Url.Action("RoleList", "Role")',
                type: 'get',
                data: { search: search, desc: desc , page: page, dataPerPage: dataPerPage },
                success: function (result) {
                    $("#txt-search").val(search);
                    $("#data").html(result);
                    //$("#data").find("tbody").find("tr").each(function (item) {
                    //    itemCount = itemCount + 1;
                    //    console.log("itemcount=" + itemCount);
                    //});
                    //if (itemCount < dataPerPage) {
                    //    maxPage = page;
                    //    console.log("if" + itemCount + "<" + dataPerPage);
                    //} else {
                    //    maxPage = page + 1;
                    //    console.log("else");
                    //}
                }
            });
        }
        
    </script>
}
