@model IEnumerable<ngxsis.ViewModel.KeahlianViewModel>

<option value="">Select Keahlian</option>
@foreach (var item in Model)
{
    <option value="@item.skill_level_id">@item.skill_level_name</option>
}